<html>
<head>
    <title>
        Welcome to Moladh
    </title>
</head>
<body>
        <form action="/genre_page" method="POST">
    <div align='center'>
    <h1>Welcome to Moladh !!!</h1>
 </br> </br>
       <h1> Select the type of Genres you whis to see {{username}}  !!</h1>
    </div>
    <label >
        <div class="row" style="width:100px;">
          <input type="checkbox" name="check" value="{{genrename[0]}}" style="margin-left:3px;width:20px;" >{{genrename[0]}}<br/>
          <input type="checkbox" name="check" value="{{genrename[1]}}" style="margin-left:3px">{{genrename[1]}}<br/>
          <input type="checkbox" name="check" value="{{genrename[2]}}" style="margin-left:3px">{{genrename[2]}}<br/>
        </div>
        <div class="row" style="width:100px">

            <input type="checkbox" name="check" value="{{genrename[3]}}" style="margin-left:3px">{{genrename[3]}}<br/>
            <input type="checkbox" name="check" value="{{genrename[4]}}" style="margin-left:3px">{{genrename[4]}}<br/>
            <input type="checkbox" name="check" value="{{genrename[5]}}" style="margin-left:3px">{{genrename[5]}}c<br/>
        </div>
        <div class="row" style="width:100px">
            <input type="checkbox" name="check" value="{{genrename[6]}}" style="margin-left:3px">{{genrename[6]}}<br/>
            <input type="checkbox" name="check" value="{{genrename[7]}}" style="margin-left:3px">{{genrename[7]}}<br/>
            <input type="checkbox" name="check" value="{{genrename[8]}}" style="margin-left:3px">{{genrename[8]}}<br/>
        </div>
        <div class="row" style="width:100px">
            <input type="checkbox" name="check" value="{{genrename[9]}}" style="margin-left:3px" >{{genrename[9]}}<br/>
            <input type="checkbox" name="check" value="{{genrename[10]}}" style="margin-left:3px">{{genrename[10]}}<br/>
            <input type="checkbox" name="check" value="{{genrename[11]}}" style="margin-left:3px">{{genrename[11]}}<br/>
        </div>
        <div class="row" style="width:100px">
            <input type="checkbox" name="check" value="{{genrename[12]}}" style="margin-left:3px">{{genrename[12]}}<br/>
            <input type="checkbox" name="check" value="{{genrename[13]}}" style="margin-left:3px">{{genrename[13]}}<br/>
            <input type="checkbox" name="check" value="{{genrename[14]}}" style="margin-left:3px">{{genrename[14]}}<br/>
        </div>
        <div class="row" style="width:100px">
            <input type="checkbox" name="check" value="{{genrename[15]}}" style="margin-left:3px">{{genrename[15]}}<br/>
            <input type="checkbox" name="check" value="{{genrename[16]}}" style="margin-left:3px">{{genrename[16]}}<br/>
            <input type="checkbox" name="check" value="{{genrename[17]}}" style="margin-left:3px">{{genrename[17]}}<br/>
            <input type="checkbox" name="check" value="{{genrename[18]}}" style="margin-left:3px">{{genrename[18]}}<br/>
        </div>
        </label>
        <div align="center">

            <!-- jump to the register page after the users clicking the button -->
            <input type="submit" value="Submit"/>
            </form>
        </div>
</body>
</html>
